$primary-color: #0068ff;
$primary-light: #5297ff;
$secondary-color: #fafafa;
$header-color: #2e2f3d;
$text-color: #404154;
$white: #fff;
$border-radius: 4px;
$dark-mode-dark: #181818;
$dark-mode-light: #252525;
$dark-mode-white: #eee;
// primary color on dark mode light background is not accessible