@import "~/assets/styles/_variables.scss";
* {
    transition: background 0.2s ease-in;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    height: 100vh;
}

main {
    min-height: 100vh;
}

h1 {
    font-size: 2em;
    line-height: 1.25em;
    margin: .83rem 0;
}

@media screen and (min-width: 400px) {
    h1 {
        font-size: 2.25em;
    }
}

h2 {
    font-size: 1.75em;
    line-height: 1.25em;
    text-align: center;
    position: relative;
    display: inline;
    z-index: 2;

    &::after {
        content: '';
        left: 0;
        height: 10px;
        z-index: -1;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

h3 {
    font-size: 1.5em;
    line-height: 1.25em;
    margin: .5rem 0;
}

article {
    margin: 0 0 4rem 0;
}

article:last-child {
    margin: 0 0 2rem 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol, ul {
    list-style-position: inside;
    text-indent: -1.5em;
    padding-left: 1.5em;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 500px) {
    section:first-child {
        margin-top: 2rem;
    }
}

.light {
    background: $white;
    color: $text-color;
    transition: background 0.2s ease-in;

    h1 {
        color: $primary-color;
    }

    h2, h3, h4, h5, h6, strong {
        color: $header-color;
    }

    h2::after {
        background: $primary-light;
    }

    a {
        color: $primary-color;
    }
}

// DARK MODE
.dark {
    background: $dark-mode-light;
    color: $dark-mode-white;
    transition: background 0.2s ease-in;

    h1 {
        color: $primary-light;
    }

    h2, h3, h4, h5, h6, strong {
        color: $white;
    }

    h2::after {
        background: $primary-color;
    }

    a {
        color: $primary-light;
    }
}

// Blog / Articles
.article .nuxt-content {
    h2 {
        z-index: 0;

        &::after {
            width: 0;
            position: relative;
            background: none;
        }
    }

    h3 {
        font-weight: 500;
    }

    ul, ol {
        text-indent: 0;
    }

    img {
        max-height: 300px;
        width: auto;
        padding: 1rem 0;
    }

    pre {
        background: $dark-mode-dark;
        text-shadow: none;
        color: $dark-mode-white;
        border-radius: $border-radius;

        .string { color: $string }
        .variable { color: $js-variable}
        .property { color: $property}
        .number { color: $number}
        .operator { color: $operator}
        .punctuation { color: $punctuation}
        .comment { color: $comment}
        .function { color: $function}
        .keyword { color: $keyword}
        .attribute { color: $attribute}
        .class { color: $class}
        .tag { color: $tag}
        .error { color: $error}
    }
}