@import "~/assets/styles/_variables.scss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: $text-color;
    font-size: 16px;
    line-height: 1.6em;
    height: 100vh;
}

main {
    min-height: 100vh;
}

h1 {
    font-size: 2em;
    line-height: 1.25em;
    color: $primary-color;
    margin: .83rem 0;
}

@media screen and (min-width: 400px) {
    h1 {
        font-size: 2.25em;
    }
}

h2 {
    font-size: 1.75em;
    line-height: 1.25em;
    color: $header-color;
    text-align: center;
    position: relative;
    display: inline;

    &::after {
        content: '';
        background: $primary-light;
        left: 0;
        height: 10px;
        z-index: -1;
        position: absolute;
        bottom: 0;
        width: 100%;
        transition: background 0.2s ease-in-out;
    }
}

h3 {
    font-size: 1.5em;
    line-height: 1.25em;
    color: $header-color;
    margin: .5rem 0;
}

article {
    margin: 0 0 4rem 0;
}

article:last-child {
    margin: 0 0 2rem 0;
}

strong, a {
    color: $header-color;
}

a {
    color: $primary-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol, ul {
    list-style-position: inside;
    text-indent: -1.5em;
    padding-left: 1.5em;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 500px) {
    section:first-child {
        margin-top: 2rem;
    }
}